:root{
    --cor-primária:  #4b4444;
    --cor-secundária:#807373;
    --cor-fundo:#183c;
    --cor-texto:#151428;
    --cor-contraste:rgba(5, 73, 25, 0.8);
    --cor-botão:rgba(6, 160, 49, 0.8);
}

.tema-escuro{
    --cor-primária:  #e0d4d4;
    --cor-secundária:#332c2c;
    --cor-fundo:#151428;
    --cor-texto:#183c;
    --cor-contraste:rgba(6, 160, 49, 0.8);
    --cor-botão:rgba(5, 73, 4925, 0.8);
}

body{
    max-width: 100vw;
}

header{
    background-color: var(--cor-primária) ;
    color: var(--cor-contraste); ;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color:var(--cor-fundo) ;
    color: #4b4444;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
 
}

article {
    display: flex;
    border:1px solid var(--cor-primária)
}

img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
}

.artigo-autor {
    font-weight: bold;
}